* {
    font-family: monospace;
    font-size: 12px;
    min-height: 16px;
}

window#waybar {
    border-bottom: 2px solid @bgalt;
    background-color: @background;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces, #mode, #window, #mpd, #network, #pulseaudio, #temperature, #cpu, #memory, #battery, #clock {
    margin: 4px 3px;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0 8px;
    padding-top: 0;
    transition: none;
    color: @fgalt;
}

#window {
    color: transparent;
    background: transparent;
}

#workspaces {
    /* as the leftmost element, this needs extra padding */
    padding: 0;
}

#workspaces button {
    transition: none;
    color: @foreground;
    margin: 0 4px;
    padding: 0 6px;
    background: transparent;
    font-size: 16px;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @buttonhover;
}

#clock {
    /* As the last element, this needs right margin */
    padding-right: 16px;
}
